<ul class="list-unstyled" id="app-sidebar">
    <li>
        <a class="<?php echo ($this->params['action'] == 'app_myaccount') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_myaccount?user_id=<?php echo $_REQUEST['user_id'] ?>">
            <img src="<?php echo BASE_URL; ?>img/account.png"/> My Account
        </a>
    </li>
    <li><a class="<?php echo ($this->params['action'] == 'app_profile' || $this->params['action'] == 'app_changepassword' || $this->params['action'] == 'app_changeemail' || $this->params['action'] == 'app_changemobile' || $this->params['action'] == 'app_kyc') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_profile?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/account.png"/> Profile</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_myaccount') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_addcash?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/add-cash.png"/> Add Cash</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_invitefriend') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_invitefriend?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/refer.png"/> Bring a Friend</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_withdrawals' || $this->params['action'] == 'app_withdrawalstatus') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_withdrawals?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/width_draw.png"/> Withdraw Cash</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_index') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>promotions/app_index?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/promotion.png"/> Promotion</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_gamehistory') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_gamehistory?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/promotion.png"/> Game History</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_cms' && $this->params['pass'][0] == 'enjoy-more-feature') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>home/app_cms/enjoy-more-feature?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/enjoy.png"/> Enjoy More Feature</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_cms' && $this->params['pass'][0] == 'learn-rummy') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>home/app_cms/learn-rummy?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/learn.png"/> Learn Rummy</a></li>
    <li><a class="<?php echo ($this->params['action'] == 'app_cms' && $this->params['pass'][0] == 'help') ? "active" : ""; ?>" href="<?php echo BASE_URL; ?>home/app_cms/help?user_id=<?php echo $_REQUEST['user_id'] ?>"><img src="<?php echo BASE_URL; ?>img/help.png"/> Help</a></li>
</ul>