<ul class="nav nav-tabs mb-5 mt-5" role="tablist">
    <li role="presentation" class="<?php echo ($this->params['action'] == 'app_profile') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'app_profile') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_profile?user_id=<?php echo $_REQUEST['user_id'] ?>" aria-controls="home" >Edit profile</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'app_changepassword') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'app_changepassword') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_changepassword?user_id=<?php echo $_REQUEST['user_id'] ?>" aria-controls="profile" >Change Password</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'app_changeemail') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'app_changeemail') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_changeemail?user_id=<?php echo $_REQUEST['user_id'] ?>" aria-controls="messages" >Change Email</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'app_changemobile') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'app_changemobile') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_changemobile?user_id=<?php echo $_REQUEST['user_id'] ?>" aria-controls="settings" >Change Mobile</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'app_kyc') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'app_kyc') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/app_kyc?user_id=<?php echo $_REQUEST['user_id'] ?>" aria-controls="settings" >KYC</a></li>
</ul>