<ul class="nav nav-tabs mb-5" role="tablist">
    <li role="presentation" class="<?php echo ($this->params['action'] == 'profile') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'profile') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/profile" aria-controls="home" >Edit profile</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'changepassword') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'changepassword') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/changepassword" aria-controls="profile" >Change Password</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'changeemail') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'changeemail') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/changeemail" aria-controls="messages" >Change Email</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'changemobile') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'changemobile') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/changemobile" aria-controls="settings" >Change Mobile</a></li>
    <li role="presentation" class="<?php echo ($this->params['action'] == 'kyc') ? "active" : ""; ?>"><a  class="<?php echo ($this->params['action'] == 'kyc') ? "bg-success" : ""; ?>" href="<?php echo BASE_URL; ?>users/kyc" aria-controls="settings" >KYC</a></li>
</ul>