body {
    font-size: 15px;
}
#applayout .menu-content-right {
    background: #1D962E;
    padding: 0 15px !important;
}
#applayout .menu-content-right.alt-menu-right {
    background: #fff;
    padding: 0 15px !important;
}
#app-sidebar a {
    display: block;
    padding: 15px 3px;
    color: #fff;
    margin: 0 -15px;
    background: rgb(32,163,50);
    background: linear-gradient(90deg, rgba(32,163,50,1) 0%, rgb(35, 149, 50) 89%, rgb(4, 145, 23) 100%);
    white-space: nowrap;
    font-size: 14px;
}
#app-sidebar li img {
    max-width: 24px;
}
#app-sidebar a.active{
    background: #20a332;
}
.menu-content {
    margin-left: 0;
    margin-right: 0;
}
.panel {
    border-radius: 0 !important;
}
div.container {
    padding: 0 !important;
}
.user-header .table-responsive {
    margin-bottom: -1px;
}
.user-header table td,.user-header table tr {
    border: none !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 15px;
}
.user-header table td {
    background: linear-gradient(to bottom, #edce72 5%, #ffa617 100%);
    color: #333 !important;
    border: none !important;
}
.double-shadow-1{
    text-shadow: rgb(188, 11, 11) 3px 0px 2px, rgb(188, 11, 11) 2.83487px 0.981584px 0px, rgb(188, 11, 11) 2.35766px 1.85511px 0px, rgb(188, 11, 11) 1.62091px 2.52441px 0px, rgb(188, 11, 11) 0.705713px 2.91581px 0px, rgb(188, 11, 11) -0.287171px 2.98622px 0px, rgb(188, 11, 11) -1.24844px 2.72789px 0px, rgb(188, 11, 11) -2.07227px 2.16926px 0px, rgb(188, 11, 11) -2.66798px 1.37182px 0px, rgb(188, 11, 11) -2.96998px 0.42336px 0px, rgb(188, 11, 11) -2.94502px -0.571704px 0px, rgb(188, 11, 11) -2.59586px -1.50383px 0px, rgb(188, 11, 11) -1.96093px -2.27041px 0px, rgb(188, 11, 11) -1.11013px -2.78704px 0px, rgb(188, 11, 11) -0.137119px -2.99686px 0px, rgb(188, 11, 11) 0.850987px -2.87677px 0px, rgb(188, 11, 11) 1.74541px -2.43999px 0px, rgb(188, 11, 11) 2.44769px -1.73459px 0px, rgb(0, 0, 0) -3px 4px 10px;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff !important;
}
.user-header .table-responsive {
    border: none;
}
.panel {
    border-radius: 0 !important;
    box-shadow: unset !important;
    border: none !important;
}
.panel-success>.panel-heading {
    color: #fff;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: none !important;
    border-radius: 0 !important;
}
.user-header img.media-object.img-circle {
    max-width: 49px;
}
.menu-content-right .nav-tabs>li>a{
    box-shadow: unset !important;
}
.menu-content-right .nav-tabs>li {
    margin-bottom: -1px;
}
