@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600');
body{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
    font-weight: 500;
    overflow-x: hidden;
}
a:focus, a:hover {
    color: inherit;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6{
    font-family: Oswald;
    color: #000;
}
.m-0 {
    margin: 0 0!important
}

.mt-0 {
    margin-top: 0!important
}

.mr-0 {
    margin-right: 0!important
}

.mb-0 {
    margin-bottom: 0!important
}

.ml-0 {
    margin-left: 0!important
}

.mx-0 {
    margin-right: 0!important;
    margin-left: 0!important
}

.my-0 {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.m-1 {
    margin: .25rem .25rem!important
}

.mt-1 {
    margin-top: .25rem!important
}

.mr-1 {
    margin-right: .25rem!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.ml-1 {
    margin-left: .25rem!important
}

.mx-1 {
    margin-right: .25rem!important;
    margin-left: .25rem!important
}

.my-1 {
    margin-top: .25rem!important;
    margin-bottom: .25rem!important
}

.m-2 {
    margin: .5rem .5rem!important
}

.mt-2 {
    margin-top: .5rem!important
}

.mr-2 {
    margin-right: .5rem!important
}

.mb-2 {
    margin-bottom: .5rem!important
}

.ml-2 {
    margin-left: .5rem!important
}

.mx-2 {
    margin-right: .5rem!important;
    margin-left: .5rem!important
}

.my-2 {
    margin-top: .5rem!important;
    margin-bottom: .5rem!important
}

.m-3 {
    margin: 1rem 1rem!important
}

.mt-3 {
    margin-top: 1rem!important
}

.mr-3 {
    margin-right: 1rem!important
}

.mb-3 {
    margin-bottom: 1rem!important
}

.ml-3 {
    margin-left: 1rem!important
}

.mx-3 {
    margin-right: 1rem!important;
    margin-left: 1rem!important
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important
}

.m-4 {
    margin: 1.5rem 1.5rem!important
}

.mt-4 {
    margin-top: 1.5rem!important
}

.mr-4 {
    margin-right: 1.5rem!important
}

.mb-4 {
    margin-bottom: 1.5rem!important
}

.ml-4 {
    margin-left: 1.5rem!important
}

.mx-4 {
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important
}

.my-4 {
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important
}

.m-5 {
    margin: 3rem 3rem!important
}

.mt-5 {
    margin-top: 3rem!important
}

.mr-5 {
    margin-right: 3rem!important
}

.mb-5 {
    margin-bottom: 3rem!important
}

.ml-5 {
    margin-left: 3rem!important
}

.mx-5 {
    margin-right: 3rem!important;
    margin-left: 3rem!important
}

.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important
}

.p-0 {
    padding: 0 0!important
}

.pt-0 {
    padding-top: 0!important
}

.pr-0 {
    padding-right: 0!important
}

.pb-0 {
    padding-bottom: 0!important
}

.pl-0 {
    padding-left: 0!important
}

.px-0 {
    padding-right: 0!important;
    padding-left: 0!important
}

.py-0 {
    padding-top: 0!important;
    padding-bottom: 0!important
}

.p-1 {
    padding: .25rem .25rem!important
}

.pt-1 {
    padding-top: .25rem!important
}

.pr-1 {
    padding-right: .25rem!important
}

.pb-1 {
    padding-bottom: .25rem!important
}

.pl-1 {
    padding-left: .25rem!important
}

.px-1 {
    padding-right: .25rem!important;
    padding-left: .25rem!important
}

.py-1 {
    padding-top: .25rem!important;
    padding-bottom: .25rem!important
}

.p-2 {
    padding: .5rem .5rem!important
}

.pt-2 {
    padding-top: .5rem!important
}

.pr-2 {
    padding-right: .5rem!important
}

.pb-2 {
    padding-bottom: .5rem!important
}

.pl-2 {
    padding-left: .5rem!important
}

.px-2 {
    padding-right: .5rem!important;
    padding-left: .5rem!important
}

.py-2 {
    padding-top: .5rem!important;
    padding-bottom: .5rem!important
}

.p-3 {
    padding: 1rem 1rem!important
}

.pt-3 {
    padding-top: 1rem!important
}

.pr-3 {
    padding-right: 1rem!important
}

.pb-3 {
    padding-bottom: 1rem!important
}

.pl-3 {
    padding-left: 1rem!important
}

.px-3 {
    padding-right: 1rem!important;
    padding-left: 1rem!important
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important
}

.p-4 {
    padding: 1.5rem 1.5rem!important
}

.pt-4 {
    padding-top: 1.5rem!important
}

.pr-4 {
    padding-right: 1.5rem!important
}

.pb-4 {
    padding-bottom: 1.5rem!important
}

.pl-4 {
    padding-left: 1.5rem!important
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important
}

.py-4 {
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important
}

.p-5 {
    padding: 3rem 3rem!important
}

.pt-5 {
    padding-top: 3rem!important
}

.pr-5 {
    padding-right: 3rem!important
}

.pb-5 {
    padding-bottom: 3rem!important
}

.pl-5 {
    padding-left: 3rem!important
}

.px-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important
}

.py-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important
}

.m-auto {
    margin: auto!important
}

.mt-auto {
    margin-top: auto!important
}

.mr-auto {
    margin-right: auto!important
}

.mb-auto {
    margin-bottom: auto!important
}
.article {
    line-height: 1.8;
}
.text-dark {
    color: #000 !important;
}
.text-danger {
    color: #BF2603;
}
.text-shadow{
    text-shadow:0px 5px 6px rgba(0, 0, 0, 0.88);
}
.text-success-3 {
    color: #4DB000;
}
.text-success-gradiant {
    background: -webkit-linear-gradient(top, #89f757,  #5abd30);
    -webkit-background-clip: text;
    font-family: Times New Roman;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    font-weight: 600;
}
.bx-shadow{
    -webkit-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    -moz-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    padding: 30px;
    border-radius: 10px;
    margin: 0 -15px;
}
.bx-shadow-2{
    -webkit-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    -moz-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
}
img.img-responsive.full-width {
    width: 100%;
}
.double-shadow{
    text-shadow: rgb(255, 255, 255) 3px 0px 2px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(243, 243, 243) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(0, 0, 0) -3px 4px 10px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}
h1.double-shadow {
    font-size: 50px;
}
.text-normal {
    text-transform: none;
}
.no-border{
    border: none !important;
}
.text-success {
    color: #007B3A;
}
.text-success-2 {
    color: #01431D;
}
.btn-danger {
    background: #CF3140;
    border-color: #CF3140;
    border-radius: 3px;
}
.btn-success {
    background-color: #3AB54B;
    border-color: #3AB54B;
}
.bg-success{
    background: #84C543;
    background-image: -webkit-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -moz-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -ms-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -o-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: linear-gradient(to bottom, #84C543, 	#4AAB5A);
    color:#fff;
    border: none;
}
.bg-success-1{
    background: #025F2D !important;
    background-image: -webkit-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -moz-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -ms-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -o-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: linear-gradient(to bottom, #025F2D, #06964C) !important;
    color:#fff;
    border: none;
}
.bg-danger{
    background: #E69923;
    background-image: -webkit-linear-gradient(top, #E69923, #B7443D);
    background-image: -moz-linear-gradient(top, #E69923, #B7443D);
    background-image: -ms-linear-gradient(top, #E69923, #B7443D);
    background-image: -o-linear-gradient(top, #E69923, #B7443D);
    background-image: linear-gradient(to bottom, #E69923, #B7443D);
    color:#fff;
    border: none;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    font-size: 13px;
    font-weight: 500;
}
.table.table-borderless td {
    border: none !important;
}
thead th {
    padding: 13px 10px !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #F2F8F4;
}
.table-striped>tbody>tr:nth-of-type(even)
{
    background-color: #E5F3EC;
}
.table.table-striped>tbody>tr>td, .table.table-striped>tbody>tr>th, .table.table-striped>tfoot>tr>td, .table.table-striped>tfoot>tr>th, .table.table-striped>thead>tr>td, .table>thead>tr>th {
    padding: 12px;
    vertical-align: middle;
    border-top: 2px solid #fff;
}
td a i {
    font-size: 18px !important;
    font-weight: bold !important;
}
.profile-info img.icon {
    max-width: 20px;
    vertical-align: middle;
}
label.label {
    font-size: 12px;
    padding: 5px 10px;
}
.img-circle.profile-img {
    width: 65px;
}
.btn-md {
    padding: 9px !important;
}
.form-control {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    box-shadow: none;
}
.panel-default>.panel-heading {
    background-color: #f5f5f5;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: none;
}
.radio .choice, .radio-inline .choice {
    position: absolute;
    top: 1px;
    left: 0;
}
.text-success-800, .text-success-800:hover, .text-success-800:focus {
    color: #2E7D32 !important;
}
.border-success-600 {
    border-color: #43A047;
}
.choice, .choice span, .choice input {
    width: 18px;
    height: 18px;
}
.choice {
    position: relative;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 100%;
}
.choice[class*="border-"] span {
    border-color: inherit;
}
.choice span {
    border: 2px solid #607D8B;
    border-top-color: rgb(96, 125, 139);
    border-right-color: rgb(96, 125, 139);
    border-bottom-color: rgb(96, 125, 139);
    border-left-color: rgb(96, 125, 139);
    display: -moz-inline-box;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    position: relative;
}
.checker input[type="checkbox"], .choice input[type="radio"] {
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    cursor: pointer;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.radio label{
    position: relative;
    padding-left: 25px;
}
.choice span.checked::after {
    display: block;
}
.choice span::after {
    content: "\f111";
    font: normal normal normal 16px/1 FontAwesome;
    line-height: 1;
    position: absolute;
    font-weight: 600;
    top: 2px;
    left: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
    font-size: 11px;
}
/*--------------Common End-----------------------*/
.nav-1.navbar.navbar-default{
    background: #007032;
    background-image: -webkit-linear-gradient(top, #007032, #029E4D);
    background-image: -moz-linear-gradient(top, #007032, #029E4D);
    background-image: -ms-linear-gradient(top, #007032, #029E4D);
    background-image: -o-linear-gradient(top, #007032, #029E4D);
    background-image: linear-gradient(to bottom, #007032, #029E4D);
    padding-bottom: 30px;
}
nav.navbar.navbar-default.nav-2 {
    background: #005126;
    margin-top: -47px;
    border: none;
    overflow: hidden;
    z-index: 6 !important;
}
.nav-2 ul.nav.navbar-nav {
    display: table;
    width: 100%;
}
.nav-2 .nav>li {
    position: relative;
    display: table-cell;
    float: none !important;
}
.nav-2 .nav>li a {
    text-align: center;
}
.navbar-default.nav-2 .navbar-nav>li>a:focus, .navbar-default.nav-2 .navbar-nav>li>a:hover {
    color: #3AB54A;
    background-color: transparent;
}
.nav-2 a:after {
    content: "|";
    position: absolute;
    right: 0;
    opacity: 0.3;
    color: #fff !important;
}
.nav-2 .nav>li:first-child a:after,.nav-2 .nav>li:last-child a:after,.nav-2 .active a:after {
    content: "";
}
.nav-2.navbar-default .navbar-collapse {
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #3AB54A;
    margin-left: -3px;
}
a.navbar-brand {
    display: table;
}
.navbar-brand>img {
    display: block;
    width: 100%;
}
form.navbar-form.navbar-right {
    padding-top: 32px;
}
form.navbar-form .form-control {
    border: none;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    height: 40px;
}
form.navbar-form .btn {
    -webkit-box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    box-shadow: 0px 1px 5px 0px rgba(1,66,31,1);
    padding: 9px;
}
form.navbar-form span {
    margin: 0 10px;
    color: #fff;
}
.forgot-password {
    margin: 0;
    color: #fff;
    position: absolute;
    text-decoration: underline;
    font-size: 11px;
    margin-top: 7px;
}
.social-login img {
    width: 40px;
}
.main-carousel {
    margin-top: -44px;
}
.reg-section {
    position: relative;
}
.reg-form {
    position: absolute;
    top: 50%;
    z-index: 100;
    left: 0;
    transform: translateY(-50%);
    right: 15px;
}
.reg-form-inner {
    background: url(../img/bg.png);
    background-size: cover;
    padding: 26px;
    border: 4px solid sandybrown;
    padding-top: 115px;
    background-position: top center;
    border-radius: 5px;
    color:#fff;
    margin-top:15px;
    transform: scale(0.9);
}
.reg-form-inner .top-img {
    position: absolute;
    top: -22px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.reg-form-inner .btn-success {
    background-color: #00A32E;
    border-color: #00A32E;
}
button.btn.btn-fb.btn-block {
    background: #3A66E2;
    color: #fff;
    font-size: 13px;
}
button.btn.btn-google.btn-block {
    background: #fff;
    color: #000;
    font-size: 13px;
}
.btn-google img {
    max-width: 21px;
}
.btn-fb img {
    max-width: 16px;
}
.features li {
    padding: 0 4rem;
    border-right: 1px dashed #ddd;
}
.download-app {
    /*    background-image: url(../img/bg_1.png);*/
    background-color: #f4f4f4 !important;
    background-position: bottom;
}
.most-trusted {
    background: url(../img/bg_2.png);
    color: #fff;
    background-size: cover;
    background-position: bottom;
}
.most-trusted h1 {
    color: #fff;
}
.fav-online-rummy .article {
    margin-left: -35px;
    text-align: justify;
}
.features img {
    margin-bottom: 10px;
}
.features p.h4 {
    font-size: 16px;
}
.testimonials {
    background: url(../img/bg_3.png);
    padding: 30px 0 45px;
}
h2.sec-title {
    color: #fff;
}
.testi-inner .testi-desc {
    font-style: italic;
    font-size: 12px;
    line-height: 1.7;
}
.testimonials .owl-stage {
    padding-top: 30px;
}
.testi-inner {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.testi-inner .media {
    overflow: visible;
}
.testi-inner img.img-responsive {
    width: 80px;
    border-radius: 50%;
    margin-top: -50px;
    min-width: 80px;
    height: 80px;
    border: 2px solid #fff;
}
.testimonial-inner a.text-dark {
    pointer-events: none;
}
button.owl-prev {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
}
button.owl-next {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.main-carousel button.owl-prev {
    left: 0;
}
.main-carousel button.owl-next {
    right: 0;
}
.main-carousel .owl-item img {
    height: 700px !important;
}
.owl-nav .la {
    color: #fff;
}
footer{
    padding: 30px 0 0;
    color: #fff;
    background: #017538;
    background-image: -webkit-linear-gradient(top, #017538, #004A21);
    background-image: -moz-linear-gradient(top, #017538, #004A21);
    background-image: -ms-linear-gradient(top, #017538, #004A21);
    background-image: -o-linear-gradient(top, #017538, #004A21);
    background-image: linear-gradient(to bottom, #017538, #004A21);
}
footer h3 {
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
}
footer h4 {
    color: #fff;
}
footer ul.list-unstyled li:before {
    content: "\f111";
    font-size: 7px;
    font-family: Fontawesome;
    margin-right: 10px;
    vertical-align: middle;
    color: yellow;
}
footer li {
    line-height: 2;
}
footer li a {
    color: #fff;
    display:inline-block;
}
.social-links li a {
    color: #333;
    background: #fff;
    display: block;
    padding: 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.social-links li a:hover {
    color: #fff;
    background: #333;
}
.text-center.copy-right {
    background: #01431D;
    padding: 15px 0;
}
.page-title{
    border-bottom: 1px solid #ddd;
}
.page-inner {
    margin-top: -40px;
}
.about-inner {
    background: #f4f4f4;
    padding: 5px 20px;
    margin-top: 35px;
    text-align: justify;
    border-radius: 10px;
}
.about-left {
    float: none;
    width: auto;
}
.about-img{
    z-index: 10000 !important;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 15px -4px rgba(0,0,0,1);
    -moz-box-shadow: -1px 0px 15px -4px rgba(0,0,0,1);
    box-shadow: -1px 0px 15px -4px rgba(0,0,0,1);
}
.menu-content{
    background: #37AF11;
    background-image: -webkit-linear-gradient(top, #37AF11, #026F20);
    background-image: -moz-linear-gradient(top, #37AF11, #026F20);
    background-image: -ms-linear-gradient(top, #37AF11, #026F20);
    background-image: -o-linear-gradient(top, #37AF11, #026F20);
    background-image: linear-gradient(to bottom, #37AF11, #026F20);
}
.menu-content-right {
    background: #fff;
    padding: 0 40px;
}
ul.side-menu.list-unstyled {
    margin: 0 -15px;
}
.side-menu a {
    color: #fff;
    display: block;
    border-bottom: 1px solid #34AF19;
    padding: 15px;
}
.side-menu .active a {
    background: #fff;
    color: #2FA613;
    margin-left: 3px;
}
.panel{
    -webkit-box-shadow: 0px 5px 8px -4px rgb(202, 204, 216);
    -moz-box-shadow: 0px 5px 8px -4px rgb(202, 204, 216);
    box-shadow: 0px 5px 8px -4px rgb(202, 204, 216);
    border: none;
    border-radius: 10px !important;
}
h4.panel-title {
    font-family: Poppins;
    font-size: 14px;
}
.contact-right{
    background: #026429;
    background-image: -webkit-linear-gradient(top, #026429, #079849);
    background-image: -moz-linear-gradient(top, #026429, #079849);
    background-image: -ms-linear-gradient(top, #026429, #079849);
    background-image: -o-linear-gradient(top, #026429, #079849);
    background-image: linear-gradient(to bottom, #026429, #079849);
    padding: 20px;
    color:#fff;
}
.contact-inner {
    margin-left: 10px;
    margin-right: 10px;
}
.contact-left {
    padding: 25px 25px 0 25px;
}
.contact-inner input.form-control {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
    height: 30px;
    padding-left: 0;
}
.contact-inner textarea.form-control {
    border: 1px solid #e1e1e1;
}
.contact-right .media-left {
    padding-right: 25px;
}
.contact-right hr {
    opacity: 0.3;
}
.contact-right p {
    font-weight: 400;
    font-size: 13px;
}
.testi-panel .media {
    overflow: visible;
}
.testi-panel img.media-object {
    position: relative;
    top: -53px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.testi-panel h4.panel-title {
    margin-left: 100px;
    padding: 7px;
}
.testi-panel .media-body {
    padding-left: 17px;
}
.cardbg {
    background: url(../img/crcard.png);
    padding: 10px 10px;
    border-radius: 5px;
}
.profile-info .media-left, .profile-info .media-right,.profile-info .media-body{
    vertical-align: middle;
}
.profile-info .media-left, .profile-info .media-right {
    min-width: 100px;
}

.panel-success>.panel-heading {
    color: #fff;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.nav-tabs {
    border-bottom: 3px solid #37AF11;
}
.nav-tabs>li>a {
    border: none;
    font-size: 14px;
    color: #01431D;
    font-weight: 500;
    margin-right: 5px;
    -webkit-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    -moz-box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
    box-shadow: -1px 0px 15px -4px rgba(180,187,247,1);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    border: none !important;
    background: #84C543;
    background-image: -webkit-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -moz-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -ms-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: -o-linear-gradient(top, #84C543, 	#4AAB5A);
    background-image: linear-gradient(to bottom, #84C543, 	#4AAB5A);
}
.menu-content-right .bx-shadow {
    margin: 0;
}
dt.text-left {
    text-align: left !important;
    margin-bottom: 19px;
}
.profile-info .media {
    border: 2px solid green;
    padding: 15px;
    border-radius: 3px;
    position: relative;
}
.profile-info label.label {
    position: absolute;
    top: 0;
    right: -2px;
}
a.edit-info {
    color: #333;
    font-weight: 500;
    text-align: right !important;
    display: block;
    margin-top: 14px;
}
.mail-li {
    position: relative;
    padding: 15px 15px 15px 45px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    -webkit-box-shadow: -1px 0px 3px -1.5px rgba(197,197,232,1);
    -moz-box-shadow: -1px 0px 3px -1.5px rgba(197,197,232,1);
    box-shadow: -1px 0px 3px -1.5px rgba(197,197,232,1);
}
.mail-li input.checkbox {
    position: absolute;
    left: 15px;
}
.del-all input.checkbox {
    display: inline;
    vertical-align: middle;
    margin: 0;
}
.del-all {
    font-size: 15px;
}
.del-all i.la.la-trash-o.text-danger {
    font-size: 20px;
    font-weight: 600 !important;
    margin-left: 10px;
}
.form-group label i {
    color: red;
}
.side-menu li:last-child a{
    border:none !important;
}
.your-name.bg-success {
    display: table;
    padding: 18px;
    border: blanchedalmond;
    font-size: 21px;
    position: relative;
    min-width: 300px;
    text-align: center;
    margin-top: 50px;
    border-radius: 3px;
}
.your-name label {
    background: #FF0006;
    background-image: -webkit-linear-gradient(top, #FF0006, #CF0410);
    background-image: -moz-linear-gradient(top, #FF0006, #CF0410);
    background-image: -ms-linear-gradient(top, #FF0006, #CF0410);
    background-image: -o-linear-gradient(top, #FF0006, #CF0410);
    background-image: linear-gradient(to bottom, #FF0006, #CF0410);
    padding: 7px 17px;
    white-space: nowrap;
    font-size: 12px;
    position: absolute;
    border-radius: 5px;
    top: -3px;
    left: 50%;
    margin: 0 auto;
    font-weight: 400;
    transform: translateX(-50%);
}
.your-name p.h4 {
    border: 1px dashed #fff;
    padding: 20px;
    margin: 0;
}
.verification-inner {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.btn .la{
    vertical-align: middle;
}
.panel-heading.bg-success h4 {
    color: #fff;
}
.btn.btn-trans {
    background: none;
    padding: 0;
}
label.upload-kyc {
    border: 1px dashed #B7443D;
    padding: 30px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 150px;
}
.upload-kyc span.bg-danger {
    position: absolute;
    left: -2px;
    top: -29px;
    padding: 5px 25px;
    display: block;
    border-radius: 5px 5px 0 0;
}

.upload-kyc .h4 {
    font-size: 15px;
    color: #dadada;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.upload-kyc i.la.la-cloud-upload {
    font-size: 75px;
}
.kyc-img:after {
    content: " ";
    background: rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute;
}
.kyc-img {
    position: relative;
}
.kyc-img img{
    max-height: 150px;
}
.navbar-nav .media-body {
    width: auto;
}
.userheader li {
    padding-right: 90px;
}
nav.navbar.navbar-default.userheader{
    padding-top: 17px;
    padding-bottom: 17px;
}
img.icon-img {
    max-width: 20px !important;
}
.userheader .media-body, .userheader .media-left, .userheader .media-right {
    display: table-cell;
    vertical-align: middle;
}
.userheader img.media-object.img-circle {
    max-width: 57px;
    border: 2px solid;
}

.user-header {
    margin-top: -44px;
    padding-top: 45px;
    position: relative;
    background: #fff;
    z-index: 1 !important;
}
.add-cash{
    padding: 10px 24px !important;
}
.logout a.btn.bg-success {
    right: 0;
    border-radius: 0;
    width: 100px;
    bottom: 14px;
    padding: 25px;
    height: 97px;
}
.user-header td {
    padding: 9px 30px !important;
    vertical-align: middle !important;
    white-space: nowrap;
}
.user-header td.logout {
    padding:0 !important;
}
.logout .la {
    font-size: 40px !important;
}
.user-header .media-body,.user-header .media-left{
    vertical-align: middle;
}
.most-trusted h4 {
    color: #fff;
}
.jumbotron #amount {
    height: 50px;
    border: none;
    box-shadow: none;
}
.jumbotron .input-group-addon {
    background: #fff;
    border: none;
    box-shadow: none;
    font-weight: 600;
}
.jumbotron .input-group-addon .la {
    font-weight: 600;
    font-size: 27px;
}
.amount-btns a {
    background: #fff;
    display: block;
    border-left: 3px solid green;
    margin-bottom: 10px;
    padding: 10px;
    -webkit-box-shadow: -1px 2px 20px -5px rgba(194,174,194,1);
    -moz-box-shadow: -1px 2px 20px -5px rgba(194,174,194,1);
    box-shadow: -1px 2px 20px -5px rgba(194,174,194,1);
    text-align: center;
    color: #333;
    font-size: 20px;
    border-radius: 4px;
}
.amount-btns a.active,.discount-cash.active {
    color:#fff;
    background: #025F2D !important;
    background-image: -webkit-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -moz-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -ms-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: -o-linear-gradient(top, #025F2D, #06964C) !important;
    background-image: linear-gradient(to bottom, #025F2D, #06964C) !important;
}
.discount-cash {
    text-align: center;
    border: 2px solid #e3e3e3;
    margin-bottom: 10px;
    color: #bfbfbf;
    white-space: nowrap;
    font-size: 14px;
}
.discount-cash h4 {
    color: #bfbfbf;
    font-family: Poppins;
    font-weight: 600;
    font-size: 23px;
    margin-top: 15px;
}
.promo-code-inner {
    border-radius: 4px;
}
.have-promocode {
    padding: 15px 15px;
    background: #fff;
    color: #333;
    padding-bottom: 22px;
}
.have-promocode input.form-control {
    background: #F6F6F6;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.promo-code-inner h3 {
    font-family: Poppins;
    color: #fff;
    font-size: 30px;
    margin: 0;
}
.promo-code-inner hr {
    opacity: 0.5;
}
.text-warning {
    color: #ffa207;
}
.invite-box{
    background: #F5FFF6;
    padding: 50px;
    border: 1px solid #2e982563;
    border-radius: 5px;
}
.invite-social img {
    max-width: 50px;
}
.max-h{
    max-height: 300px;
    overflow: auto;
}
#loading img {
    max-width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}
div#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000 !important;
    background: rgba(0,0,0,0.5);
    right: 0;
    text-align: center;
}
button.btn.subscribe-btn {
    background: #F5105B;
    color: #fff;
    border-radius: 0;
    margin: 0 auto;
    display: table;
    font-size: 16px;
    margin-top: 30px;
}
.subscribe-box {
    background: url(https://project.rayaztech.com/rummy-club/img/crcard.png);
    padding: 30px;
}
.subscribe-box input.form-control {
    background: #267d2ea8;
    height: 50px;
    border: none;
    color: #fff !important;
    border-radius: 0;
    font-family: Oswald;
        font-size: 19px;
}
h3.our-newsletter {
    background: #BF2203;
    display: table;
    padding: 15px;
    border-radius: 25px;
    border: 4px solid goldenrod;
    margin-top: -42px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.subscribe-box input.form-control::-webkit-input-placeholder { /* Edge */
    color: #fff;
}

.subscribe-box input.form-control-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

.subscribe-box input.form-control::placeholder {
    color: #fff;
}

@media screen and (min-width: 768px){
    .carousel-caption {
        right: 0;
        left: 0;
        padding-bottom: 30px;
    }
}
@media only screen and (max-width: 1200px) {
    form.navbar-form.navbar-right {
        padding: 0;
        float: left !important;
        width: 100%;
    }
    .forgot-password {
        position: unset;
    }
}
@media only screen and (max-width: 990px) {
    .menu-content {
        margin-left: 15px;
        margin-right: 15px;
    }
    .menu-content-right {
        background: #fff;
        padding: 1px 0;
    }
    .verification-inner{
        position: unset;
        top: unset;
        transform: unset;
    }
    .your-name.bg-success {
        min-width: unset;
        width: 100%;
    }
}
@media only screen and (max-width: 767px) {
    .nav-2 ul.nav.navbar-nav {
        display: block;
        width: 100%;
        margin: 0;
    }
    .navbar-default .navbar-nav>li>a {
        color: #fff;
        text-align: left;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
    }
    form.navbar-form.navbar-right {
        margin: 0;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .forgot-password {
        position: unset;
        float: right;
        text-align: right;
    }
    .nav-2 .nav>li {
        display: block;
    }
    .nav-tabs>li {
        margin-bottom: 10px;
    }
    .user-header td{
        padding: 8px 10px !important;
    }
    .navbar-brand>img {
        max-width: 250px;
    }
}
@media only screen and (max-width: 500px) {
    .media-left-res {
        display: block;
        margin-bottom: 10px;
    }
    .testi-panel img.media-object {
        position: unset;
        margin: 0 auto;
    }
    .testi-panel h4.panel-title {
        margin-left: 0;
    }


}