<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashbord</span></h4>
            </div>
            <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li><a href="<?php echo BASE_URL; ?>admin/dashboard"><i class="icon-home2 position-left"></i> Home</a></li>
            </ul>
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a></div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content text-center">
        
        
    </div>
    <!-- /content area -->
</div>