@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
body {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
}
.sidebar {
    background-color: #D9E3EF !important;
}
.navigation li a {
    color: #333;
}
.navigation > li.active > a, .navigation > li.active > a:hover, .navigation > li.active > a:focus {
    background-color: #005126;
    color: #fff;
}
.navbar-inverse {
    background-color: #005126;
    border-color: #005126;
    border-bottom-color: #005126;
}
.navigation li a:hover, .navigation li a:focus {
    background-color: #005126;
    color: #fff;
}
.view-page .form-group label{
    font-weight: bold;
}.view-page .form-group span{
    padding-right:10px;
}
.view-page .form-group label, .view-page .form-group p{
    font-size: 15px;
}
.image-logo .img-circle.img-responsive {
    background: #e7e7e7;
    padding: 8px;
}
.search-form{
    padding-left: 20px;
}
.logo-img{
    width: 43px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.navbar {
    padding-top: 3px;
    padding-bottom: 6px;
}
.navbar-brand > img {
    height: 41px;
    width: 165px;
    margin-left: 20px;
}
.breadcrumb li a .fa {
    margin-right: 10px;
}
.page-title {
    padding: 15px 0px !important;
}
#editor {
    border: medium none;
    display: block !important;
    height: 0;
    padding: 0;
}
.page-title h4 {
    display: inline-block;
}
.backcss {
    float: right;
    line-height: 30px;
}
.img-xs{
    max-width: 50px;
}
.backcss.btn.btn-primary {
    color: #fff;
    background: #005126;
    border-color: #005126;
    padding: 0px 20px;
}
.btn-success {
    color: #fff;
    background-color: #005126;
    border-color: #005126;
}
.table thead th {
    background: #005126;
    color: #fff;
}
textarea.form-control {
    height: auto;
    min-height: 100px;
    resize: none;
}
textarea#editor {
    height: 0 !important;
    position: absolute;
}