<div class="bx-shadow-2 user-header">
    <div class="container">
        <?php echo $this->element('user_header'); ?>
    </div>
</div>
<div class="container">
    <div class="bx-shadow-2 mt-0 mb-5">
        <div class="row menu-content">
            <?php echo $this->element('user_sidebar'); ?>
            <div class="col-md-10 menu-content-right match-height">
                <h3 class="text-success-2 mb-5 mt-5">Withdrawals</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-5" role="tablist">
                    <li role="presentation" class="active"><a class="bg-success" href="<?php echo BASE_URL; ?>users/withdrawals" aria-controls="settings"  >Make Withdrawal</a></li>
                    <li role="presentation"><a href="<?php echo BASE_URL; ?>users/withdrawalstatus" aria-controls="settings"  >Withdrawal Status</a></li>
                </ul>
                <div class="panel panel-success mb-5">
                    <div class="panel-heading bg-success">
                        <h4>Withdrawable Balance <i class="fa fa-inr"></i> <?php echo $sessionuser['User']['withdrawable_balance']; ?></h4>
                    </div>
                    <div class="panel-body">
                        <?php if ($sessionuser['User']['withdrawable_balance'] != 0) { ?>
                            <form method="post" action="#" class="validation_form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Enter Amount to Withdraw <i>*</i></label>
                                            <input type="text" class="form-control validate[required]" name="data[Withdrawal][amount]" value="<?php echo (!empty($this->request->data['Withdrawal']['amount'])) ? $this->request->data['Withdrawal']['amount'] : "" ?>"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Enter bank Account No <i>*</i></label>
                                            <input type="text" class="form-control validate[required]" id="bank_account_number" name="data[Withdrawal][bank_account_number]" value="<?php echo (!empty($this->request->data['Withdrawal']['bank_account_number'])) ? $this->request->data['Withdrawal']['bank_account_number'] : "" ?>"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Re Enter bank Account No <i>*</i></label>
                                            <input type="text" class="form-control validate[required,equals[bank_account_number]]" name="data[Withdrawal][bank_account_number]" value="<?php echo (!empty($this->request->data['Withdrawal']['bank_account_number'])) ? $this->request->data['Withdrawal']['bank_account_number'] : "" ?>"/>
                                        </div>
                                        <div class="form-group">
                                            <label>IFSC <i>*</i></label>
                                            <input type="text" class="form-control validate[required]" name="data[Withdrawal][ifsc]" value="<?php echo (!empty($this->request->data['Withdrawal']['ifsc'])) ? $this->request->data['Withdrawal']['ifsc'] : "" ?>"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Bank Name <i>*</i></label>
                                            <input type="text" class="form-control validate[required]" name="data[Withdrawal][bank_name]" value="<?php echo (!empty($this->request->data['Withdrawal']['bank_name'])) ? $this->request->data['Withdrawal']['bank_name'] : "" ?>"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Account Holder Name <i>*</i></label>
                                            <input type="text" class="form-control validate[required]" name="data[Withdrawal][account_holder]" value="<?php echo (!empty($this->request->data['Withdrawal']['account_holder'])) ? $this->request->data['Withdrawal']['account_holder'] : "" ?>"/>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="submit" class="btn btn-block bg-success btn-md">SUBMIT</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        <?php } else { ?>
                            <p class="text-center">Min Balance to withdraw is <i class="fa a-inr"></i> 100</p>
                        <?php }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>