<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>
                <span class="text-semibold">Table Management</span> 
            </h4>
            <a href="<?php echo BASE_URL; ?>admin/tables/add" class="backcss btn btn-primary"><i class="fa fa-plus"></i> Add</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="panel panel-flat">
        <div class="panel-body">
            <form method="get" class="form-inline form-group">
                <div class="form-group">
                    <input type="text" class="form-control" name="s" value="<?php echo (!empty($_REQUEST['s'])) ? $_REQUEST['s'] : "" ?>"/>
                </div>
                <div class="form-group">
                    <select class="form-control" name="type">
                        <option value="">[Select Type]</option>
                        <option value="Cash" <?php echo (!empty($_REQUEST['type']) && $_REQUEST['type'] == 'Cash') ? "selected" : "" ?>>Cash</option>
                        <option value="Practice" <?php echo (!empty($_REQUEST['type']) && $_REQUEST['type'] == 'Practice') ? "selected" : "" ?>>Practice</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option value="">[Select Category]</option>
                        <option value="Points" <?php echo (!empty($_REQUEST['category']) && $_REQUEST['category'] == 'Points') ? "selected" : "" ?>>Points</option>
                        <option value="Pool" <?php echo (!empty($_REQUEST['category']) && $_REQUEST['category'] == 'Pool') ? "selected" : "" ?>>Pool</option>
                        <option value="Deals" <?php echo (!empty($_REQUEST['category']) && $_REQUEST['category'] == 'Deals') ? "selected" : "" ?>>Deals</option>
                    </select>
                </div>
                <div class="form-group">
                    <button name="search" type="submit" class="btn btn-success btn-sm">Search</button>
                </div>
                <?php if (isset($_REQUEST['search'])) { ?>
                    <div class="form-group">
                        <a href="<?php echo BASE_URL; ?>admin/tables" class="btn btn-danger btn-sm">Cancel</a>
                    </div>
                <?php } ?>
            </form>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Decks</th>
                            <th>Max Player</th>
                            <th>Point Value</th>
                            <th>Type</th>
                            <th>Deals</th>
                            <th>Min Entry</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php
                        if (empty($tables)) {
                            ?>
                            <tr><td colspan="10" align="center">No records found</td>
                                <?php
                            } else {
                                $i = $this->Paginator->counter('{:start}');
                                foreach ($tables as $table) {
                                    ?>
                                <tr>
                                    <td><?php echo $i; ?></td>
                                    <td><?php echo $table['Table']['name']; ?></td>
                                    <td><?php echo $table['Table']['category']; ?></td>
                                    <td><?php echo $table['Table']['type']; ?></td>
                                    <td><?php echo (!empty($table['Table']['decks'])) ? $table['Table']['decks'] : "-"; ?></td>
                                    <td><?php echo $table['Table']['maxplayer']; ?></td>
                                    <td><?php echo (!empty($table['Table']['pointvalue'])) ? $table['Table']['pointvalue'] : "-"; ?></td>
                                    <td><?php echo (!empty($table['Table']['type'])) ? $table['Table']['type'] : "-"; ?></td>
                                    <td><?php echo (!empty($table['Table']['deals'])) ? $table['Table']['deals'] : "-"; ?></td>
                                    <td><?php echo $table['Table']['minentry']; ?></td>
                                    <td>
                                        <ul class="list-inline">
                                            <li>
                                                <?php
                                                echo $this->Html->link(
                                                        '<i class="fa fa-pencil"></i>', array('controller' => 'tables', 'action' => 'edit', $table['Table']['table_id']), array('escapeTitle' => false, "data-toggle" => "tooltip", "title" => "Edit")
                                                );
                                                ?>
                                            </li>
                                            <li>
                                                <?php
                                                echo $this->Html->link(
                                                        '<i class="fa fa-trash"></i>', array('controller' => 'tables', 'action' => 'Delete', $table['Table']['table_id']), array('escapeTitle' => false, "data-toggle" => "tooltip", 'class' => 'delconfirm', "title" => "Delete")
                                                );
                                                ?>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <?php
                                $i++;
                            }
                        }
                        ?>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="dataTables_info" id="sample-table-2_info" role="status" aria-live="polite">
                        <?php
                        echo $this->Paginator->counter(array(
                            'format' => __('Page') . ' {:page} ' . __('of') . ' {:pages}, ' . __('showing') . ' {:current} ' . __('records out of') . ' {:count} ' . __('entries')
                        ));
                        ?>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="sample-table-2_paginate">
                        <ul class="pagination">
                            <?php
                            echo $this->Paginator->prev('<i class="fa fa-angle-left"></i>', array('tag' => 'li', 'class' => 'page-link', 'escape' => false), '<a><i class="fa fa-angle-left"></i></a>', array('class' => 'prev disabled page-link', 'tag' => 'li', 'escape' => false));
                            $numbers = $this->Paginator->numbers();
                            if (empty($numbers)) {
                                echo '<li class="active page-link"><a>1</a></li>';
                            } else {
                                echo $this->Paginator->numbers(array('separator' => '', 'tag' => 'li', 'class' => 'page-link', 'first' => 'First page', 'currentClass' => 'active', 'currentTag' => 'a'));
                            }
                            echo $this->Paginator->next('<i class="fa fa-angle-right"></i>', array('tag' => 'li', 'class' => 'page-link', 'escape' => false), '<a><i class="fa fa-angle-right"></i></a>', array('class' => 'next disabled page-link', 'tag' => 'li', 'escape' => false));
                            ?>
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>