<?php
//print_r($emails);
$member_id=$this->Session->read('TblPlayer.id');
//print_r($member_id);exit;
$member=ClassRegistry::init('TblPlayer')->find('first',array('conditions'=>array('id'=>$member_id)));
?>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
function handleClick() {
   if(document.getElementById("checkall").checked==true) {    
          
            $('.checkbox').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"              
            });
        }else{
           
            $('.checkbox').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"                      
            });        
        }
}
</script>
</script>

<div class="container">
<div id="content">
<div class="product-info-white-bg">
 <h1>Invite FriendList</h1>
 <div class="invitefriendlistcontacts">
 <form name="invitecontacts" class="invitecontacts" id="invitefriendcontacts" method="post" action="<?php echo BASE_URL?>invitefriends/invitefriendscontacts">
 <table id="example" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
         <th><input type="checkbox" onClick="handleClick();" name="checkall" id="checkall" class="validate[minCheckbox[1]]" /></th>
            <th>Name</th>
            <th>Email</th>           
        </tr>
    </thead>
  <tfoot>
        <tr> 
            <th></th>
            <th>Name</th>
            <th>Email</th>           
        </tr>
    </tfoot>
 <tbody>
 <?php  foreach($emails as $emails){?>
 
        <tr>
         <td><input type="checkbox"  name="action[]"  class="validate[minCheckbox[1]] checkbox"  id="action" value="<?php echo $emails['email']?>" /></td>
            <td><?php echo $emails['name'];?></td>
            <td><?php echo $emails['email'];?></td>
             </tr>
       <?php }?>
 </tbody>
 </table>
 <div>
 </div>
 
 
 
 <div class="invitecontactsjoin">
<span>Email :</span>
<p><input type="text" name="email"  value="<?php echo $member['TblPlayer']['email'];?>" readonly /></p>
 <span>Name :</span>
<p><input type="text" name="name" id="fname"  value="" class="validate[required]" /></p>

<span>Message :</span>
<p><textarea name="message" id="message" class="validate[required]"></textarea></p>

<input type="submit" name="submit" value="Invite to join" />

 </div>
 
  
 
 
 
 </form>
 </div>
 
  
 
 
 
 
 
 
  </div>
    </div>
  </div>
  
